@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap");

@import "reset.css";
@import "clock.css";
@import "greeting.css";
@import "todo.css";
@import "quotes.css";
@import "weather.css";
@import "background.css";
@import "audio.css";
@import "water.css";

body {
  height: 100%;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  color: #fff;
}
.fixed-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
  position: absolute;
  right: 100px;
  top: 80px;
}

.fixed-box {
  position: fixed;
  right: 100px;
  top: 130px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.hidden {
  display: none;
}

.hidden--visibility {
  opacity: 0;
  visibility: hidden;
}
