.todo-form,
.todo-list,
.important-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.todo-form {
  margin: 30px 0px;
}

.todo-form input {
  text-align: center;
  font-size: 2rem;
  padding: 10px 0px;
  border: none;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.todo-form input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.todo-form input:focus {
  outline: none;
  font-size: 2.2rem;
}

.todo-list li,
.important-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 28rem;
  font-size: 2rem;
  padding: 10px 20px;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  margin-bottom: 10px;
}

.todo-list li:hover,
.important-list li:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.important-list li {
  width: 30rem;
  font-size: 2.2rem;
  background-color: rgba(0, 0, 0, 0.65);
}

.todo-list li i,
.important-list li i,
.todo-list li span:first-child {
  font-size: 25px;
  margin-right: 10px;
  color: rgba(255, 255, 255, 0.5);
}

.important-list li span:first-child {
  color: rgb(238, 219, 94);
}
