.weather-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 5rem;
  padding: 15px 15px;
  border-radius: 1.2rem;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  margin-bottom: 30px;
}

.weather-container span {
  font-size: 18px;
  margin-right: 10px;
}
